<footer style="background-color: #001331; color: white; padding: 20px 0; text-align: center; height: 20vh;">
    <div class="container-footer" style="margin-top: 3rem !important;">
      <p>&copy; 2024 Tune-Tickets. All Rights Reserved.</p>
      <br>
      <ul style="list-style: none; padding: 0;">
        <li style="display: inline; margin-right: 15px;"><a href="/about" style="color: white; text-decoration: none;">About</a></li>&nbsp;&nbsp;
        <li style="display: inline; margin-right: 15px;"><a href="/contact" style="color: white; text-decoration: none;">Contact</a></li>&nbsp;&nbsp;
        <li style="display: inline;"><a href="/privacy" style="color: white; text-decoration: none;">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>
  