<%layout("/layouts/boilerplate")%>
<body >
  
  
  <div  class="upcoming-events">
    <!-- PART-TWO OF HOME PAGE -->
    <h2 class="upcoming-hd"><%=result.name%>.&nbsp;.&nbsp;.</h2>
    
    <div class="events-container swiper">
        <div class="events-card-wrapper">
            <ul class="events-card-list swiper-wrapper">
                <% for(event of result.events){ %>
                    <li class="events-card-item swiper-slide">
                        <a href="/event/<%=event._id%>" class="events-card-link">
                            <img src="<%= event.imageUrl %>" alt="events-image" class="events-image">
                            <h3 style="color: black;" class="event-name"><%= event.name %></h3>
                        </a>
                    </li>
                <% } %>    
            </ul>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    


  
</div>

   
</body>